body {
  text-align:center;
  font-size: 18px;
  
}

#main {
  margin: 30px;
  background-color:#eee;
  border-radius: 20px;
}

#title {
  padding:5px;
}

#img-div {
  background-color:white;
  width:90%;
  margin: 10px auto;
  padding:20px;
  border-radius: 5px;
}

#img-caption {
  padding:20px;
}

img {
  max-width:100%;
  height:auto;
  display:block;
  margin:0 auto;
  border-radius: 5px;
}

#tribute-info {
  padding: 20px;
}

#tribute-info ul {
  text-align: left;
  max-width:50%;
  margin:0 auto;
}

#tribute-info li{
  padding: 10px;
}

#bottom-link {
  padding: 20px;
}

